/* ? Content */
#content a {
	color: none;
	text-decoration: none;
}
#content main .head-title {
	display: flex;
	align-items: center;
	justify-content: space-between;
	grid-gap: 16px;
	flex-wrap: wrap;
}

#content main .head-title .left h1 {
	font-size: 36px;
	font-weight: 600;
	margin-bottom: 10px;
	color: var(--color-dark);
}

#content main .head-title .left .path {
	display: flex;
	align-items: center;
	grid-gap: 16px;
}

#content main .head-title .left .path li {
	color: var(--color-dark);
}

#content main .head-title .left .path li a {
	color: var(--color-dark);
	pointer-events: none;
}

#content main .head-title .left .path li a.active {
	color: var(--color-blue);
	pointer-events: unset;
}

#content main .head-title .year-container {
	justify-content: center;
}

#content main .head-title .year-container #controls {
	right: 0;
	left: 0;
	min-width: 120px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	/* justify-content: center; */
	gap: 10px;
}

#content main .head-title .year-container #controls button {
	border: 1px solid rgba(132, 139, 200, 0.18);
	position: block;
	display: inline-block;
	align-items: center;
	justify-content: center;
	/* margin-bottom: 10px; */
}

/* #content main .head-title .btn-download {
	height: 36px;
	padding: 0 16px;
	border-radius: var(--card-borderRadiusSmall);
	background: var(--color-green);
	color: var(--color-white);
	display: flex;
	justify-content: center;
	align-items: center;
	grid-gap: 10px;
	font-weight: 500;
} */
/*? ========== CONTENT TITLE ========== */




/*? ========== TABEL BOX INFO ========== */
#content main .box-info {
	/* display: grid;
	grid-template-columns: repeat( 4, minmax(250px, 1fr)); */
	/* grid-template-columns: minmax(240px, 1fr); */
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	grid-gap: 24px;
	margin-top: 36px;
	z-index: 1;
}

#content main .box-info li {
	min-width: fit-content;
	width: 230px;
	padding: 24px;
	background: var(--color-light);
	border-radius: var(--card-borderRadiusMedium);
	border: 1px solid rgba(132, 139, 200, 0.18);
	box-shadow: var(--box-shadow);
	display: flex;
	align-items: center;
	grid-gap: 24px;
}

#content main .box-info li .bx {
	/* width: 80px;
	height: 80px; */
	/* border-radius: var(--card-borderRadiusMedium)10px; */
	font-size: 36px;
	display: flex;
	justify-content: center;
	align-items: center;
}

/* #content main .box-info li:nth-child(1) .bx {
	background: var(--color-lightBlue);
	color: var(--color-blue);
}

#content main .box-info li:nth-child(2) .bx {
	background: var(--color-lightYellow);
	color: var(--color-yellow);
}

#content main .box-info li:nth-child(3) .bx {
	background: var(--light-red);
	color: var(--color-red);
} */

#content main .box-info li .text h3 {
	font-size: 24px;
	font-weight: 600;
	color: var(--color-dark);
}

#content main .box-info li .text p {
	color: var(--color-dark);	
}
/*? ========== TABEL BOX INFO ========== */



/*? ========== TABEL ========== */
#content main .table-data {
	display: flex;
	flex-wrap: wrap;
	grid-gap: 24px;
	margin-top: 24px;
	width: 100%;
	color: var(--color-dark);
}
#content main .table-data > div {
	border-radius: var(--card-borderRadiusMedium);
	border: 1px solid rgba(132, 139, 200, 0.18);
	box-shadow: var(--box-shadow);
	background: var(--color-light);
	padding: 24px;
	overflow-x: auto;
}

#content main .table-data .head {
	display: flex;
	align-items: center;
	grid-gap: 16px;
	margin-bottom: 24px;
}

#content main .table-data .head h3 {
	margin-right: auto;
	font-size: 24px;
	font-weight: 600;
}

/* #content main .table-data .head .bx {
	cursor: pointer;
} */
/*? ========== TABEL ========== */

/*? ========== TABEL KEUANGAN ========== */
#content main .table-data .event {
	display: flex;
	flex-grow: 1;
	flex-basis: 500px;
	overflow-x: hidden;
	flex-direction: column;
	justify-content: space-between;
}
#content main .table-data .event table {
	width: 100%;
	border-collapse: collapse;
	border-radius: var(--card-borderRadiusMedium);
}

#content main .table-data .event .head {
	display: flex;
	justify-content: space-between;
}

#content main .table-data .event .head form .search-container {
	display: flex;
	flex-grow: 1;
	flex-basis: 100px;
	align-items: center;
	border: 1px solid var(--color-darkGrey);
	border-radius: 10px;
	padding: 10px;
	background: var(--color-grey);    
}

#content main .table-data .event .head form .search-container input {
	/* flex-grow: 1; */
	border: none;
	background: var(--color-grey);
	outline: none;
	color: var(--color-dark);
}

#content main .table-data .event .head form .search-container button {
	border: none;
	background: var(--color-grey);
	margin-right: 8px;
	color: var(--color-dark);
}
#content main .table-data .event .head .right {
	display: flex;
	flex-direction: row;
	gap: 10px;
}
#content main .table-data .event .head .add-btn {
	border: none;
	color: var(--color-light);
	background: var(--color-green);
	padding: 5px;
	border-radius: 5px;
}

#content main .table-data .event .head .add-btn a{
	color: var(--color-light);
}

#content main .table-data .event .head .add-btn:hover {
	background: var(--color-darkGreen);
}
.export__file {
    position: relative;
}

.export__file .export__file-btn {
    display: flex;
	align-items: center;
	justify-content: center;
    padding: 5px;
	color: var(--color-light);
	background: var(--color-green);
	border-radius: 5px;
    transition: .2s ease-in-out;
}

.export__file .export__file-btn:hover { 
    background-color: var(--color-darkGreen);
    /* transform: scale(1.15); */
    cursor: pointer;
}

.export__file input {
    display: none;
}

.export__file .export__file-options {
    position: absolute;
    right: 0;
    
    width: 12rem;
    border-radius: .5rem;
    overflow: hidden;
    text-align: center;

    opacity: 0;
    transform: scale(.8);
    transform-origin: top right;
    
    box-shadow: 0 .2rem .5rem #0004;
    
    transition: .2s;
}

.export__file input:checked + .export__file-options {
    opacity: 1;
    transform: scale(1);
    z-index: 100;
}

.export__file .export__file-options label{
    display: block;
    width: 100%;
    padding: .6rem 0;
    background-color: var(--color-grey);
    
    display: flex;
    justify-content: space-around;
    align-items: center;
	cursor: pointer;
	border-bottom: 1px solid var(--color-darkGrey);

    transition: .2s ease-in-out;
}

.export__file .export__file-options label:first-of-type{
    /* padding: 1rem 0; */
    background: var(--color-grey)!important;
}

/* .export__file .export__file-options label:hover{
	color: var(--color-dark);
    background: var(--color-light) solid;
    cursor: pointer;
} */

/* .export__file .export__file-options img{
    width: 2rem;
    height: auto;
} */

#content main .table-data .event table th {
	text-align: left;
	cursor: pointer;
}

#content main .table-data .event table th .bx {
	align-items: center;
	margin-left: 5px;
	font-size: 10px;
}
#content main .table-data .event table th.active {
	color: var(--color-green);
}
#content main .table-data .event table tbody td a {
	color: var(--color-dark);
	text-decoration: underline;
}
#content main .table-data .event table tbody td {
	padding: 16px 0;
	/* border-bottom: 1px solid var(--color-darkGrey); */
}
/* #content main .table-data .event table tbody tr:hover {
	background: var(--color-grey);
} */
#content main .table-data .event h3 {
    font-size: 24px;
    margin-bottom: 10px;
}
#content main .table-data .event .active {
    color: var(--color-light);
    background-color: var(--color-green);
    padding : 7px;
    border-radius: 5px;
    width: fit-content;
}
#content main .table-data .event p {
    margin: 5px 0;
}
#content main .table-data .event .text {
    text-align: left;
}
#content main .table-data .event .text table {
    max-width: 100% !important;
    text-align: left !important;
}

/* #content main .table-data .event .text table td {
    border: none !
} */
#content main .table-data .event .text table tbody td:first-child {
    max-width: 200px;
}
#content main .table-data .event .text table tbody td:nth-child(2),
#content main .table-data .event .text table tbody td:nth-child(3) {
    text-align: left !important;
    /*width: 20px;*/
}
span {
    margin-left: 10px;
}
#content main .table-data .event table tbody td input {
    background: var(--color-light);
    border: none;
    padding: 5px;
    border-bottom: 1px solid var(--color-darkGrey);
}
#content main .table-data .event .text table textarea {
    background: var(--color-light);
    border: none;
    border-bottom: 1px solid var(--color-darkGrey);
    padding: 5px;
}

#content main .table-data .event .text table select {
    background: var(--color-light);
    padding: 5px;
    border: 1px solid var(--color-darkGrey);
    /* box-shadow: var(--box-shadow); */
}

#content main .table-data .event .add {
    float: right;
}
#content main .table-data .event button {
    margin-top: 10px;
    padding: 10px;
    border-radius: 5px;
    color: var(--color-light);
    background: var(--color-green);
    border: none;
}
.status-selesai {
	color: var(--color-green);
}
.status-ditunda {
	color: var(--color-orange);
}
.status-dibatalkan {
	color: var(--color-red);
}
.status-akan-berlangsung {
	color: var(--color-yellow);
}


/* ? ===== TABEL EVENT ===== */


/*? ========== TABEL KEUANGAN ========== */




/*? ========== MODAL ========== */
/* Modal background */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content {
    font-family: var(--font);
    justify-content: center;
    text-align: center;
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    border-radius: 10px;
    width: 35%; /* Could be more or less, depending on screen size */
    min-width: 150px;
}
.modal-content button {
    margin-top: 10px;
    padding: 10px;
    border-radius: 5px;
    color: var(--color-light);
    background: var(--color-green);
    border: none;
}
.modal-content button a {
    color: var(--color-light);
}
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}


/*? ========== MODAL ========== */



/*? ========== MEDIA QUERIS ========== */
@media screen and (max-width:1200px) {
	#content .box-info {
		grid-template-columns: 1fr;
		grid-gap: 16px;
	}
}

 @media screen and (max-width: 800px) {
	#content .box {
		position: relative;
		width: 100%;
	}
}

 @media screen and (max-width: 576px) {
	#content main .box-info {
		grid-template-columns: 1fr;
	}
	#content main .table-data .head {
		min-width: 420px;
	}
	#content main .table-data .event table {
		min-width: 420px;
	}
	/* #content table thead th:first-child{
		display: none;
	}
	#content table tbody td:first-child{
		display: none;
	}
	#content table thead th:nth-child(3){
		display: none;
	}
	#content table tbody td:nth-child(3){
		display: none;
	} */
	#content table thead th:last-child{
		display: inline-block;
	}
	#content table tbody td:last-child{
		display: inline-block;
	}
	#content .event  {
		overflow: auto;
	}
	/* #content main .table-data .todo .todo-list {
		min-width: 420px;
	}*/
	#content main .table-data .todo {
		overflow: auto;
		width: fit-content;
	}
	.modal-content {
		width: 250px;
	}
}