@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
html{
    font-family: "Montserrat";
}
body {
    margin          : 0px;
}
ul{
    text-decoration : none;
    list-style      : none;
}
p {
    font-size       : 20px;
}
h1 {
    font-size       : 60px ;
}
.container{
    background-color: #A3CFBB;
    width           : 100%;
    height          : 95;
    display         : flex;
}
.item {
    padding         : 0.5rem;
}
.item li {
    display         : inline;
    padding-right   : 20px ;
}
.logo {
    flex-grow       : 1;
}
.container {
    display         : flex;
    align-items     : center;
}
.profil{
    display         : flex;
    align-items     : center;
    background-color: blanchedalmond;
    height          : 25px;
    width           : 25px;
    border-radius   : 10rem;
    flex-direction  : column;
    gap             : 2px;
    margin-right    : 20px;
}
.profil .kepala{
    background-color: black;
    height          : 15px;
    width           : 15px;
    border-radius   : 10rem;
}
.profil .badan{
    background-color: black;
    height          : 10px;
    width           : 20px;
    border-radius   : 10px 10px 20px 20px/10px 10px 10px 10px;
}
.headline{
    height: auto;
    width: 100%;
}
.hero {
    height: 550px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    padding-left: 20px;
    max-width: 800px;
}
.hero h1{
    margin          : 0%;
    font-weight: 500;
}
.hero p{
    margin          : 0%;
}
.line-headline{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 100%;
}
.line-headline .line{
    border: 0.5px solid black;
    width: 800px;
}