* {
    font-family: 'Montserrat';
    padding: 0;
    margin: 0 ;
}
/* *Layout */
.container {
    display: flex;
    min-height: 100vh;
}

.sidebar {
    background-color: #118271;
    width: 260px;
    padding: 24px;
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
}

.main-content {
    flex-grow: 1;
}
/* *SideBar */
.sidebar .description-header {
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 22px;
    text-align: center;
    color: #FFFFFF;
}

.sidebar a {
    text-decoration: none;
}

.sidebar .header .list-item {
    display: flex;
    flex-direction: row;/*! Jika ingin ke tengah ganti menjadi column*/
    align-items: center;
    padding: 12px 10px;
    border-radius: 8px;
    height: 40px;
    box-sizing: border-box;
}

.sidebar .header .list-item .icon {
    margin-right: 12 px;
}

.sidebar .header .ilustration {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
    padding-left: 20px;
    margin: 10px 0 22px 0;
}

.sidebar .main .list-item .description {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
    text-align: center;
    color: #FFFFFF;
}

.sidebar .main .list-item .icon {
    /* padding: 10px 0px 0px 0px; */
    margin-right: 12px;
}

.sidebar .main .list-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 12px 10px;
    border-radius: 8px;
    width: 212px;
    box-sizing: border-box;
}

.sidebar .main .list-item:hover {
    background: #0c6154;
    transition: all ease-in .2s;
}

.main-content .header .list-item {
    /* ! Jangan lupa dihapus */
    padding: 12px;
    display: flex;
    align-items: center;
    gap: 10px;
}
/** Search-Toggle */
.main-content .header .list-item .search-toggle {
    display: flex;
    flex-grow: 1;
}

.main-content .header .list-item .search {
    --padding: 8px;
    display: flex;
    align-items: center;
    width: max-content;
    padding: var(--padding);
    border-radius: 28px;
    background-color: #f6f6f6;
}

.main-content .header .list-item .search-input {
    font-size: 16px;
    font-family: "Montserrat";
    color: #333333;
    margin-left: var(--padding);
    outline: none;
    border: none;
    background: transparent;
}
/* *Notification */
.main-content .header .list-item .notification {
    --padding: 8px;
    display: flex;
    align-items: center;
    width: max-content;
    padding: var(--padding);
    border-radius: 28px;
    background-color: #f6f6f6;
    cursor: pointer;
}
/* *Profile */
.main-content .header .list-item .profile {
    --padding: 8px;
    display: flex;
    align-items: center;
    width: max-content;
    padding: var(--padding);
    border-radius: 28px;
    background-color: #f6f6f6;
    cursor: pointer;
}

.main-content .headline {
    padding: 24px;
    display: flex;
    font-weight: 900;
    align-items: center;
    justify-content: space-between;
    gap: 12px;
}

/** Box */
.main-content .content {
    display: flex;
    justify-content: center;
}

.main-content .box {
    padding: 24px;
    width: 90%;
    background-color: #FFFFFF;
    border-radius: 8px;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 24px;
}

.content .box-content .list-item {
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    font-size: 16px;
}



.box-content a {
    text-decoration: none;
    color: #333333;
}

#p1 {
    flex-grow: 1;
    padding: 12px;
    border-radius: 8px;
}

#p2 {
    flex-grow: 1;
    padding: 12px;
    border-radius: 8px;
}

#p3 {
    flex-grow: 1;
    padding: 12px;
    border-radius: 8px;
}

#p4 {
    flex-grow: 1;
    padding: 12px;
    border-radius: 8px;
}

#p5 {
    flex-grow: 1;
    padding: 12px;
    border-radius: 8px;
}