body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  background-color: #ffff;
  display: fixed;
}

.section-content {
  position: relative;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.section-content:hover {
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
  transform: translateY(-5px);
  -webkit-transform: translateY(-5px);
  -moz-transform: translateY(-5px);
  -ms-transform: translateY(-5px);
  -o-transform: translateY(-5px);
}

header {
  max-width: 1000px;
  margin: 45px auto;
  padding: 0 20px;
  background-color: #fff;
  height: 100vh;
  color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
}

header .header-content {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  animation: fadeIn 2s ease-in-out;
}

header h1 {
  font-size: 4rem;
  margin-bottom: 10px;
  animation: textSlideIn 1.5s ease-out;
}

header p {
  font-size: 1.5rem;
  animation: textSlideIn 1.5s ease-out;
  animation-delay: 0.5s;
}

header:hover {
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
  transform: translateY(-5px);
  -webkit-transform: translateY(-5px);
  -moz-transform: translateY(-5px);
  -ms-transform: translateY(-5px);
  -o-transform: translateY(-5px);
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  list-style-type: none;
  flex-grow: 1;
}

section h2 {
  text-align: center;
  font-size: 2rem;
  animation: fadeInUp 1s ease-in-out;
  -webkit-animation: fadeInUp 1s ease-in-out;
}

#tentang .about-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  margin: 45px auto;
  padding: 0 20px;
  max-width: 1000px;
  animation: fadeIn 1.5s ease-in-out;
  -webkit-animation: fadeIn 1.5s ease-in-out;
}

.about-content img {
  width: 45%;
  height: 70%;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.about-content img:hover {
  transform: scale(1.01);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
  -webkit-transform: scale(1.01);
  -moz-transform: scale(1.01);
  -ms-transform: scale(1.01);
  -o-transform: scale(1.01);
}

.about-content p {
  margin-top: 25px;
  font-size: 16px;
}

#dampak .impact-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 55px;
  margin-bottom: 100px;
  max-width: 1000px;
  margin: 45px auto;
  padding: 0 20px;
}

.impact-item {
  text-align: left;
  margin-top: 35px;
  background-color: #f5f5f5;
  border-radius: 10px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  text-align: left;
  padding: 25px;
  display: flex;
  flex-direction: column;
  -webkit-transition: transform 0.3s ease, box-shadow 0.3s ease;
  -moz-transition: transform 0.3s ease, box-shadow 0.3s ease;
  -ms-transition: transform 0.3s ease, box-shadow 0.3s ease;
  -o-transition: transform 0.3s ease, box-shadow 0.3s ease;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.impact-item:hover {
  box-shadow: 0 6px 12px rgba(10, 194, 120, 0.8);
  transform: translateY(-5px);
  -webkit-transform: translateY(-5px);
  -moz-transform: translateY(-5px);
  -ms-transform: translateY(-5px);
  -o-transform: translateY(-5px);
}

#solusi {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  align-items: center;
  max-width: 1000px;
  padding: 0 20px;
}

#solusi p {
  margin-top: 45px;
}

#solusi button {
  background-color: #118271;
  border: none;
  margin-top: 25px;
  margin-bottom: 45px;
  border-radius: 8px;
  font-size: 0.9rem;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
  padding: 10px 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border: 2px solid #118271;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  -webkit-transition: background-color 0.3s ease, transform 0.3s ease;
  -moz-transition: background-color 0.3s ease, transform 0.3s ease;
  -ms-transition: background-color 0.3s ease, transform 0.3s ease;
  -o-transition: background-color 0.3s ease, transform 0.3s ease;
}

#solusi button:hover {
  background-color: #007b42;
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
  -webkit-transform: translateY(-5px);
  -moz-transform: translateY(-5px);
  -ms-transform: translateY(-5px);
  -o-transform: translateY(-5px);
  font-weight: bolder;
}

#solusi a {
  text-decoration: none;
  color: #fff;
}

footer {
  background-color: #118271;
  color: #fff;
  text-align: center;
  width: 100%;
  position: relative;
  bottom: 0;
  animation: fadeInUp 1s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Animations */
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes textSlideIn {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* NAVIGASI BAR*/
nav {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  z-index: 1000;
  padding: 0.1em;
  box-sizing: border-box;
}

.hero {
  display: flex;
  align-items: center; /* Menyelaraskan elemen secara vertikal */
}

.hero .logo {
  height: 55px; /* Sesuaikan tinggi logo sesuai kebutuhan */
  margin-right: 10px; /* Ruang antara logo dan nama */
}

.hero h1 {
  font-size: 24px;
  margin: 0;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  gap: 0.5em;
}

nav ul li {
  margin: 0 1em;
  position: relative;
  display: flex;
  gap: 20px;
}
nav ul li a {
  color: white;
  text-decoration: none;
  padding: 1em;
  display: flex;
  align-items: center;
  position: relative;
}

nav ul li a::after {
  content: "";
  position: absolute;
  bottom: 5px;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 2px;
  background-color: white;
  transition: width 0.3s ease;
}

nav ul li a:hover::after {
  width: calc(100% - 2em);
}

.profile-pic {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
}

.profile-dropdown {
  position: relative;
}

.dropdown-content {
  display: none;
  position: absolute;
  top: 80px; /* Adjust this value as needed */
  right: 0;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  width: 200px;
  padding: 10px;
}

.dropdown-content img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.profile-dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content img.dropdown-profile-pic {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  display: block;
  margin: 1rem auto;
}

.dropdown-content p {
  color: black;
  padding: 1px 1px; /* Mengurangi padding atas dan bawah */
  margin: 0; /* Menghapus margin */
  text-decoration: none;
  display: block;
  line-height: 1.5; /* Menyesuaikan line-height */
}

.dropdown-content a {
  color: #007bff;
  text-decoration: none;
}

.dropdown-content p a:hover {
  text-decoration: underline;
}

.dropdown-content a:hover {
  text-decoration: underline;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
/* PEMBATAS NAVBAR */

/* SIDE BAR */
nav.sidebar {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 89px;
  /*Menyesuaikandengantingginavbar*/
  width: 200px;
  height: 695px;
  /*Mengisisisalayardibawahnavbar*/
  color: white;
  padding: 15px;
  border-radius: 10px;
  margin-left: 5px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.sidebar .nav-links {
  display: flex;
  flex-direction: column;
  gap: 40px;
  list-style-type: none;
}

.sidebar .nav-links a {
  text-size-adjust: bold;
  color: #f5f5f5;
  text-decoration: none;
  font-size: 16px;
  padding: 10px 20px;
  transition: background-color 0.3s ease, padding-left 0.3s ease;
  -webkit-transition: background-color 0.3s ease, padding-left 0.3s ease;
  -moz-transition: background-color 0.3s ease, padding-left 0.3s ease;
  -ms-transition: background-color 0.3s ease, padding-left 0.3s ease;
  -o-transition: background-color 0.3s ease, padding-left 0.3s ease;
}
.sidebar {
  position: fixed;
  left: -250px;
  background-color: rgba(0, 0, 0, 0.8);
  width: 250px;
  height: 100vh;
  transition: left 0.3s ease;
  -webkit-transition: left 0.3s ease;
  -moz-transition: left 0.3s ease;
  -ms-transition: left 0.3s ease;
  -o-transition: left 0.3s ease;
}

.sidebar.active {
  left: 0;
}

.main-content {
  margin-left: 0;
  transition: margin-left 0.3s ease;
  -webkit-transition: margin-left 0.3s ease;
  -moz-transition: margin-left 0.3s ease;
  -ms-transition: margin-left 0.3s ease;
  -o-transition: margin-left 0.3s ease;
}

.main-content.shifted {
  margin-left: 250px; /* Geser konten ke kanan sesuai lebar sidebar */
}

/* HAMBURGER */
.hamburger {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  margin-left: 20px;
}

.hamburger .bar {
  width: 25px;
  height: 3px;
  background-color: white;
  margin: 3px 0;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}
