body {
  font-family: "Montserrat", sans-serif;
  margin: auto;
  background-color: #e0e0e0;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content {
  text-align: center;
  padding: 50px 20px;
  background: linear-gradient(to right, #118271, #118271);
  border-radius: 15px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
  margin: 20px;
  max-width: 100%;
  box-sizing: border-box;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}

.content .checkmark {
  font-size: 100px;
  color: rgb(255, 255, 255);
  margin-bottom: 20px;
}

.content h2 {
  font-size: 24px;
  margin-bottom: 20px;
  font-weight: bold;
}

.content p {
  font-size: 18px;
  margin-bottom: 30px;
}

.home {
  display: inline-block;
  padding: 15px 30px;
  background-color: #ffffff;
  color: #118271;
  font-size: 18px;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s, color 0.3s;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  -webkit-transition: background-color 0.3s, color 0.3s;
  -moz-transition: background-color 0.3s, color 0.3s;
  -ms-transition: background-color 0.3s, color 0.3s;
  -o-transition: background-color 0.3s, color 0.3s;
}

.home:hover {
  background-color: #118271;
  color: #ffffff;
}

.footer {
  background-color: #118271;
  color: #ffffff;
  padding: 20px;
  margin-top: 95px;
  width: 100%;
  text-align: center;
  position: relative;
  bottom: 0;
  box-sizing: border-box;
}

.footer p {
  margin: 5px 0;
  text-align: left;
  font-size: 16px;
}

/* Media Queries */
@media (max-width: 768px) {
  .content {
    padding: 30px 10px;
  }

  .content h2 {
    font-size: 20px;
  }

  .content p {
    font-size: 16px;
  }

  .home {
    padding: 12px 25px;
    font-size: 16px;
  }

  .footer p {
    font-size: 14px;
  }
}

@media (max-width: 425px) {
  .content {
    padding: 20px 10px;
  }

  .content h2 {
    font-size: 18px;
  }

  .content p {
    font-size: 14px;
  }

  .home {
    padding: 10px 20px;
    font-size: 14px;
  }

  .footer p {
    font-size: 12px;
  }
}

@media (max-width: 375px) {
  .content {
    padding: 15px 10px;
  }

  .content h2 {
    font-size: 16px;
  }

  .content p {
    font-size: 12px;
  }

  .home {
    padding: 8px 16px;
    font-size: 12px;
  }

  .footer p {
    font-size: 10px;
  }
}

@media (max-width: 320px) {
  .content {
    padding: 10px 5px;
  }

  .content h2 {
    font-size: 14px;
  }

  .content p {
    font-size: 10px;
  }

  .home {
    padding: 6px 12px;
    font-size: 10px;
  }

  .footer p {
    font-size: 8px;
  }
}
